@import "tailwindcss";

@font-face {
  font-family: 'Aes';
  src: url('./fonts/Aesthetic_Beauty CF.otf') format('opentype');
}

@font-face {
  font-family: 'Aes2';
  src: url('./fonts/aes_2.ttf') format('truetype');
}

:root {
  --font-aes: 'Aes', sans-serif;
  --font-aes2: 'Aes2', sans-serif;
}

body {
  background-color: white;
  color: black;
  font-family: var(--font-aes);
}