@import "tailwindcss";

/* 👇 ЦЕЙ РЯДОК ОБОВ'ЯЗКОВИЙ ДЛЯ ТЕМНОЇ ТЕМИ В v4 */
@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Aes';
  src: url('./fonts/Aesthetic_Beauty CF.otf') format('opentype');
}

@font-face {
  font-family: 'Aes2';
  src: url('./fonts/aes_2.ttf') format('truetype');
}

:root {
  --font-aes: 'Aes', sans-serif;
  --font-aes2: 'Aes2', sans-serif;
}

body {
  font-family: var(--font-aes);
  /* Додаємо плавний перехід кольорів */
  transition: background-color 0.5s ease, color 0.5s ease;
}